.mainpage-top {
  background-image: url("../../../public/assets/Images/backimageforhome.jpeg");
  height: 80vh;
  display: flex;
  justify-content: center;
}
.mainpage-bottom {
  background-color: #f2f2f2;
  @media only screen and (max-width: 600px) {
    height: 61vh;
  }
}
